.sidebar {
  flex: 1;
  border-right: 1px solid rgb(221, 218, 218);
}
.top {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(222, 217, 217);
}
span.logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #7451f8;
}

.center nav ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}
.center .icon {
  color: #7451f8;
  font-size: 20px;
}
.center nav ul p {
  text-transform: uppercase;
  font-size: 16px;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}
.center nav ul li {
  display: flex;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: rgb(98, 96, 96);
}
.center nav ul li:hover {
  background-color: #ece8ff;
}
.center nav ul li span {
  margin-left: 5px;
  text-transform: capitalize;
}
.bottom {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
.colorOption {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid rgb(220, 218, 218);
}
.colorOption:nth-child(1) {
  background: white;
}
.colorOption:nth-child(2) {
  background: #999;
}
